app-find-product{
    margin-top: 10px !important;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    width: 40%;
    background: #f5f5f5;
  
}

button{
    display: flex;
    float: right;
}



mat-toolbar{
    margin-top: 10px !important;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    width: 40%;
}