
  mat-drawer{
      width: 450px;
  }
 

  mat-icon{
   position: absolute;
   margin-top: 350px;
    z-index:3;  
  margin-left: 10px;
  transform: scale(2.5);
  color: rgb(182, 182, 182);}
  

  .arrow_back{
    margin-left: 20px;
    
  }

  mat-drawer-container{
    height: 1500px;
    background-image: linear-gradient(
      0deg,
      hsl(240deg 4% 89%) 0%,
      hsl(240deg 18% 87%) 8%,
      hsl(239deg 29% 86%) 14%,
      hsl(238deg 37% 84%) 19%,
      hsl(238deg 45% 83%) 25%,
      hsl(237deg 50% 81%) 32%,
      hsl(237deg 55% 79%) 40%,
      hsl(236deg 59% 77%) 52%,
      hsl(235deg 63% 76%) 70%,
      hsl(234deg 66% 74%) 100%
    );
  }
  

  
    
  