.card{
    margin-top: 5px;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 5px;
}

h3{
    text-align: end;
    margin-bottom: 5px;
}
mat-card-title{
    margin-bottom: 2px !important;
    font-size: 1.2em !important;
    display: flex;
    align-items: center;
}
mat-card-footer{
    padding-right:20px ;
    margin-bottom: 2px;
}
mat-card-subtitle{
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

mat-card-header{
    padding-right:5px ;
    width: 100%;
}

.delete_prod_cart{
padding: 0px;
margin: 0px;
}

input{
    width: 50px;
    
}

