<mat-card >

    <mat-card-header>
        <mat-card-title >
           
            <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="crud==true">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="editProduct(product)" >
                    <mat-icon>edit</mat-icon>
                    <span>Editar</span>
                </button>
                <button mat-menu-item >
                    <mat-icon>delete</mat-icon>
                    <span>Borrar</span>
                </button>
            </mat-menu>

        </mat-card-title>
       
 
   
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <strong>Producto: </strong> {{product.name}}
                </mat-panel-title>
                <mat-panel-description>
                     <span *ngIf="innerWidth>1100">Detalles</span> 
                </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-card-subtitle>Stock: {{product.stock}}</mat-card-subtitle>
            <mat-card-subtitle>Code: {{product.code}}</mat-card-subtitle>
            <mat-card-subtitle>Precio: {{product.price_Now | currency}} x {{unitsProduct[product.fK_Unit].unit}}</mat-card-subtitle>
            <mat-card-subtitle>Tipo: {{typesProduct[product.fK_Type-1].type}}</mat-card-subtitle>
            
            <p>{{product.detail}}</p>
        </mat-expansion-panel>
        <button *ngIf="crud==false"  mat-flat-button color="primary" (click)="addProductToTicket()" >
           
            <mat-icon>add_shopping_cart</mat-icon>
        </button>
    </mat-card-header>
    
</mat-card>